<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-row>
      <ion-col width-60 class="title">
          <ion-title>타킷</ion-title>
      </ion-col>
      <ion-col width-20 *ngIf="!storageProvider.isAndroid" style="text-align:right;font-size:1.5em;">
          <ion-icon color="primary"  [hidden]="storageProvider.deposit_in_latest_cashlist==false" (click)="moveToCashListPage()" name="cash"></ion-icon>
      </ion-col>
      <ion-col width-20 *ngIf="!storageProvider.isAndroid" style="text-align:center;font-size:1.5em;">
          <ion-icon [color]="getColorBackgroundMode()" [hidden]="storageProvider.order_in_progress_24hours==false" (click)="configureBackgrondMode()" name="notifications"></ion-icon>
      </ion-col>
      <ion-col width-20 *ngIf="storageProvider.isAndroid">
          <ion-icon color="primary"  [hidden]="storageProvider.deposit_in_latest_cashlist==false" (click)="moveToCashListPage()" name="cash"></ion-icon>
      </ion-col>
      <ion-col width-20  *ngIf="storageProvider.isAndroid">
          <ion-icon [color]="getColorBackgroundMode()" [hidden]="storageProvider.order_in_progress_24hours==false" (click)="configureBackgrondMode()" name="notifications"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-navbar>
</ion-header>
<ion-tabs  #myTabs>
  <ion-tab [root]="tabHome" tabTitle="홈" (ionSelect)="home($event)" tabIcon="home"></ion-tab>
  <ion-tab [root]="tabSearch" tabTitle="상점인식" (ionSelect)="search($event)" tabIcon="search"></ion-tab>
  <ion-tab [root]="tabCash" tabTitle="캐쉬" (ionSelect)="cash($event)" tabIcon="cash"></ion-tab>
</ion-tabs>
