
page-login{
    .companyName{
        text-align: center ;
        font-size:20vw ;
        color:#387ef5 ;
    }
    .companyslogan{
        text-align: center ;
        font-size:5vw ;
         color:black ;
    }

    .logo{
        width:100%;
    }

    div.logo{
        align-content: center;
    }

    .Above{
        height:15vh !important;
    }
}

