<ion-header>
  <ion-navbar hideBackButton>
  </ion-navbar>
</ion-header>

<!--
<ion-content padding class="ocr" (swipe)="swipeSearch($event)">
  -->
<ion-content #searchContent class="ocr">

<ion-segment  [(ngModel)]="inputType"  *ngIf="storageProvider.isAndroid" >
 <ion-segment-button color="primary" value="keypad" (ionSelect)="keypad()">
   <ion-icon name="keypad"></ion-icon>
  </ion-segment-button>
  <ion-segment-button color="primary" value="image" (ionSelect)="gallery()">
   <ion-icon name="image"></ion-icon>
  </ion-segment-button>
  <ion-segment-button color="primary" value="camera" (ionSelect)="camera()">
  <ion-icon name="camera"></ion-icon>
  </ion-segment-button>
</ion-segment>

<ion-list>
<ion-item>

<ion-row>
  <ion-col width-45>
  <ion-searchbar [(ngModel)]="serviceQuery" autocomplete="on" placeholder="서비스" (ionBlur)="serviceBlur()" (ionClear)="serviceClear($event)" (ionFocus)="getFocusServices($event)" (ionInput)="getServices($event)" ></ion-searchbar>
  <ion-list>
    <ion-item class="searchBarItems" *ngFor="let item of servicesShown">
     <ion-row (click)="selectTakitService(item)">
      {{ item }}
    </ion-row>
    </ion-item>
  </ion-list>
  </ion-col>

  <ion-col  width-10>
   @
  </ion-col>

  <ion-col width-45>
  <ion-searchbar class="searchBarItems" [(ngModel)]="brandQuery"  autocomplete="on" placeholder="브랜드" (ionBlur)="brandBlur()" (ionClear)="brandClear($event)" (ionFocus)="getFocusBrands($event)" (ionInput)="getBrands($event)"></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let item of brandsShown">
     <ion-row (click)="selectTakitBrand(item)">
      {{ item }}
    </ion-row>
    </ion-item>
  </ion-list>
  </ion-col>
</ion-row>
<ion-row>
<button ion-button full (click)="goToShop()">상점들어가기</button>
</ion-row>
</ion-item>
</ion-list>

<div *ngIf="!storageProvider.isAndroid">
  <button class="dummy" color="white" ion-button full></button>
</div>    

<div class="dummy" *ngIf="storageProvider.isAndroid">
</div>    

</ion-content>



