page-cash{
    .segment-md>.segment-button {
        border-width: 2px !important;
        border-style: solid !important;
        border-color: #3474e1 !important;
        padding:0px !important;
    }

    .segment-md>.segment-activated {
        background-color: #387ef5 !important;
        color: white !important;
    }

    .available-amount{
        text-align: right;
    }

    .available-amount>span{
        color:#387ef5;
        font-size: 2.5rem;
    }

    .textSet{
        font-size: 1.4rem;
    }

    .item {
    padding-right: 5px;
    padding-left: 5px;
    }

    .button-block {
     margin-left: inherit; 
     margin-right: inherit; 
    }

    ion-list .item .item-inner{
    border-bottom:0px !important;
    }

    ion-list > .item:last-child{
    border-bottom:0px;
    }

    ion-list > .item:first-child{
    border-top:0px;
    }

    .toolbar-background{
        background:transparent;
    }

    .cashId.item.item-input>.item-inner{
    padding-right:2px;
    }

    .cashIdValue{
    color:#387ef5;
    border:1px solid #BEBEBE;
    border-radius: 4px;
    height:38px;
    }

    .cashIdValue>.text-input {
        margin: 8px 8px 8px 8px;
    }

    .config{
    width:20%;
    }

    .button-outline{
        border-color: #BEBEBE;
    }

    .explain{
    text-align: justify;
    white-space: pre-line;
    color:#7F7F7F;
    font-size: 1.3rem; 
    }

    .button-block{
    margin-left:8px;
    margin-right:8px;
    }

    .cashIn-check{
    margin-left: 10px;
    margin-right:10px;
    margin-top:20px;
    background-color: #EEEEEE;
    border: 2px solid #387ef5;
    }

    .checkInfo{
    text-align: justify;
    white-space: pre-line;
    font-size: 1.4rem;
    }

    .cashIn-check-table{
    text-align: center;
    font-size: 1.4rem;
    }

    .cashIn-check-table>ion-row>ion-col:last-child{
    background-color: #ffffff;
    //border-left: 1px solid #bebebe;
    }

    .cashIn-check-table>ion-row{
    background-color: #EEEEEE;
    font-weight: bold;
   //border-bottom: 1px solid #bebebe;
    }

    .cashIn-check-table>ion-row:last-child{
    border-bottom: 0px;
    }

    .cashIn-check-inputBox{
    border:1px solid #BEBEBE;
    border-radius: 4px;
    height:30px;
    font-size: 1.3rem;
    }

    .cashIn-check-inputBox>.text-input{
        margin: 8px 8px 8px 8px;
        padding: 0;
        width: calc(100% - 8px - 8px);
    }

    .cashHistory-select{
    font-size: 1.4rem;
    }

    .HistoryTable{
    text-align: center;
    font-size: 1.4rem;
    }

    .HistoryTable>ion-row:first-child{
    background-color: #EEEEEE;
    font-weight: bold;
    }

    .HistoryTable>ion-row{
    border-bottom: 1px solid #bebebe;
    }

    .HistoryTable>ion-row>ion-col{
    margin: 3px 0px 3px 0px;
    }

    .cashOut-text{
    width:43%;
    font-size: 1.3rem; 
    }

    .input{
    padding-left: 0px;
    }

    .inputBox{
    border:1px solid #BEBEBE;
    border-radius: 4px;
    height:40px;
    font-size: 1.3rem;
    }

    ion-select {
        padding: 16px 10px 13px 16px;
    }

    .bankSelect{
    font-size: 1.3rem;
    }

    .bankSelect.item.item-select{
    padding-left:0px;
    }

    .bankSelect.item.item-select>.item-inner>.input-wrapper{
    border: 1px solid #BEBEBE;
    border-radius: 4px;
    height:40px;
    padding-right: 0px;
    margin-top: 2px;
    }

    .item-input.input-has-focus::after{
    border-bottom-color: transparent;
    }
    
    .cashOut{
        width:30%;
    }

    .HistoryTable{
    text-align: center;
    font-size: 1.4rem;
    }

    .list-md > .item-block:first-child, .list-md > .item-wrapper:first-child .item-block {
         border-top: 0px; 
    }

    .list-md > .item-block:last-child, .list-md > .item-wrapper:last-child .item-block {
        border-bottom: 0px !important;
    }

    .list-ios > .item-block:first-child {
        border-top: 0px;
    }

    .list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block {
        border-bottom: 0px !important;
    }

    .transaction{
        .button-ios {
            margin: 0px; 
            height: 1.6em;
            font-size: 1.4rem !important;
        }

        .button-md {
            margin: 0px; 
            height: inherit;
            font-size: 1.4rem !important;
        }
        .label-md {
            margin:  0px; 
        }
    }

    .transactionLabel{
        background-color: #EEEEEE;
        font-weight: bold;
        text-align: center;
        font-size: 1.4rem;
        border-bottom: 1px solid #bebebe;
    }

    ion-row.transaction{
        border-bottom: 1px solid #bebebe;

    }

    ion-row.transaction>ion-col{
//        margin: 3px 0px 3px 0px;
        text-align: center;
        font-size: 1.4rem;
    }

    .infiniteScroll{
        ion-label{
            margin: 0px 0px 0px 0; 
        }
    }

    .explanations{
        .label-md {
            margin: 0px 0px 0px 0 !important; 
        }
    }

    .dummy{
        height:40vh;
    }

    .scrollDummy{
        height:80vh;
    }

    .list-ios {
        margin: inherit;
    }
    //////////////////////////////////////////////////////////////////////////////
    .input-cover { // !!! ios only for showing input element with keypad.  !!!
        position: static;
    }
    /////////////////////////////////////////////
    // 캐쉬 정보 수동입력 
    .transferDate{
        .label-md {   
            margin: inherit !important;
        }
        .label-md {
            color: #000000 !important; 
        }
        .list-md .item-block .item-inner {
            border-bottom: 0px !important;
        }
    }
    .cashIn-check{
        ion-row{
            background:white !important;
        }
        .label-md {
             margin: 0px 0px 0px 0 !important; 
              width:50% !important; 
              color:#000000 !important;
              text-align: left !important;
        }
    }

    .selectButton{
        padding-right: 0px;
        padding-left: 0px;
        .item-md .item-button {
             padding: 0 !important; 
             margin:0px !important;
        }
        padding: 0px !important;
        margin:0px !important;
        box-shadow: none !important; 
    }

    ion-datetime{
        width: 50% !important;
    }
    ion-col{
        padding: 0px;
    }

    .searchbar-search-icon{
        display: none;
    }

    .searchBarItems>ion-label{
        margin:0px;
    }

    .searchbar-input{
        padding-right:0px !important;
        padding-left:0px !important;
    }

    ion-searchbar{
        padding:1px !important;
        min-height:inherit !important;
    }  

    .branchButton{
        background-color: transparent !important;
        color:black !important;
        padding: 0px !important;
        margin:0px !important;
        box-shadow: none !important; 
    }
}