<ion-header>
  <ion-navbar hideBackButton>
    <ion-title>{{shopname}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content #orderPage class="orderPage" > 
   
 <ion-row>
   <ion-col width-30>
          <img [src] = "menu.filename" id="MenuImg">
   </ion-col>
   <ion-col width-50>
          <p id="imgText"><b>{{menu.menuName}}<span *ngIf="menu.description!=undefined" >{{menu.description}}</span></b><br>{{menu.price}}원</p>
   </ion-col>
   <ion-col width-20>
     <button ion-button clear id="CloseButton" (click)="closePage($event)" >취소</button>
   </ion-col>
 </ion-row>

<div class="box">
    <ion-item [hidden]="quantityInput(true)" class="orderSelect">
      <ion-label class="orderQuantity">수량</ion-label>
        <ion-select interface='action-sheet' #actionSheet class="orderSelect0" [(ngModel)]="quantity"  (ionChange)="getQuantity(quantity)">
          <ion-option value=1>1</ion-option>
          <ion-option value=2>2</ion-option>
          <ion-option value=3>3</ion-option>
          <ion-option value=4>4</ion-option>
          <ion-option value=5>5</ion-option>
          <ion-option value=6>직접입력</ion-option>
        </ion-select>
    </ion-item>
       <ion-item [hidden]="quantityInput(false)">
          <ion-label class="item">수량</ion-label>
          <ion-input #quantityNum [focuser]="focusQunatityNum" (blur)="onBlur($event)" type="number" class="quantity" [(ngModel)]= "quantity"></ion-input>
       </ion-item>
  </div>

  <div class="box" #optionDiv [hidden]="!hasOptions">
     <div *ngFor="let option of options">    
          <ion-item class="orderToggle" >
              <ion-label class="orderOption">{{option.name}}(+{{option.price}})원</ion-label>
              <ion-toggle class="onOff" [(ngModel)]="option.flag" (ionChange)="optionChange(option)"></ion-toggle>
          </ion-item>
          <ion-row *ngIf="hasChoice(option)===2">
              <ion-item class="choice" ion-col width-50 >
                <ion-toggle class="onOff" [(ngModel)]="option.flags[0]" [disabled]="!option.flag" (ionChange)="choiceChange(option,0,option.flags[0])"></ion-toggle>
                <ion-label class="choiceLabel">{{option.choice[0]}}</ion-label>
              </ion-item>  
              <ion-item class="choice" ion-col width-50 >
                <ion-toggle class="onOff" [(ngModel)]="option.flags[1]" [disabled]="!option.flag" (ionChange)="choiceChange(option,1,option.flags[1])"></ion-toggle>
                <ion-label class="choiceLabel">{{option.choice[1]}}</ion-label>
              </ion-item>  
          </ion-row>
          <ion-row *ngIf="hasChoice(option)===3">
              <ion-item class="choice" ion-col width-33 >
                <ion-toggle class="onOff" [(ngModel)]="option.flags[0]" [disabled]="!option.flag" (ionChange)="choiceChange(option,0,option.flags[0])"></ion-toggle>
                <ion-label class="choiceLabel">{{option.choice[0]}}</ion-label>
              </ion-item>  
              <ion-item class="choice" ion-col width-33 >
                <ion-toggle class="onOff" [(ngModel)]="option.flags[1]" [disabled]="!option.flag" (ionChange)="choiceChange(option,1,option.flags[1])"></ion-toggle>
                <ion-label class="choiceLabel">{{option.choice[1]}}</ion-label>
              </ion-item>  
              <ion-item class="choice" ion-col width-33 >
                <ion-toggle class="onOff" [(ngModel)]="option.flags[2]" [disabled]="!option.flag" (ionChange)="choiceChange(option,2,option.flags[2])"></ion-toggle>
                <ion-label class="choiceLabel">{{option.choice[2]}}</ion-label>
              </ion-item>  
          </ion-row>
          <ion-row *ngIf="hasChoice(option)===4">
              <ion-item class="choice" ion-col width-25 >
                <ion-toggle class="onOff" [(ngModel)]="option.flags[0]" [disabled]="!option.flag" (ionChange)="choiceChange(option,0,option.flags[0])"></ion-toggle>
                <ion-label class="choiceLabel">{{option.choice[0]}}</ion-label>
              </ion-item>  
              <ion-item class="choice" ion-col width-25 >
                <ion-toggle class="onOff" [(ngModel)]="option.flags[1]" [disabled]="!option.flag" (ionChange)="choiceChange(option,1,option.flags[1])"></ion-toggle>
                <ion-label class="choiceLabel">{{option.choice[1]}}</ion-label>
              </ion-item>  
              <ion-item class="choice" ion-col width-25 >
                <ion-toggle class="onOff" [(ngModel)]="option.flags[2]" [disabled]="!option.flag" (ionChange)="choiceChange(option,2,option.flags[2])"></ion-toggle>
                <ion-label class="choiceLabel">{{option.choice[2]}}</ion-label>
              </ion-item>  
              <ion-item class="choice" ion-col width-25 >
                <ion-toggle class="onOff" [(ngModel)]="option.flags[3]" [disabled]="!option.flag" (ionChange)="choiceChange(option,3,option.flags[3])"></ion-toggle>
                <ion-label class="choiceLabel">{{option.choice[3]}}</ion-label>
              </ion-item>  
          </ion-row>       
          <hr>
     </div>
  </div>

  <div class="box" #takeoutDiv [hidden]="!takeoutAvailable">
    <ion-item class="orderToggle">
      <ion-label class="orderOption">테이크아웃</ion-label>
      <ion-toggle class="onOff" [(ngModel)]="takeout"></ion-toggle>
    </ion-item>
  </div>

<div id = "payDiv">
   <div id ="grayDiv">

    <ion-row class="textrow">
      <ion-col width-33 class="center">주문금액</ion-col>
      <ion-col width-33 class="center">할인금액(0.5%)</ion-col>
      <ion-col width-33 class="center">최종결제금액</ion-col>
    </ion-row>

    <ion-row class="textrow">
      <ion-col width-33 class="right">{{price}}원</ion-col>
      <ion-col width-33 class="right">{{discount}}원</ion-col>
      <ion-col width-33 class="right"><span style="color:#387ef5">{{amount}}</span>원</ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="cash">사용가능한 캐쉬</ion-col>
      <ion-col class="cash">15,000원</ion-col>
    </ion-row>

    <ion-row class="textrow">
      <ion-col class="password">캐쉬 비밀번호(6자리)</ion-col>
      <ion-col class="password0">
        <ion-item class="cashPassword">
        <ion-input (focus)="onFocusPassword($event)" maxlength="6" type="password" class="passwordinput"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </div>    
    <div class="orderInfo cancelNoti">
      주문접수전에는 MyPage에서 주문 취소가 가능합니다. <br>
    </div>
   <div>
    <ion-row>
      <ion-col width-10 class="collapse">
      <ion-icon name="add-circle" [hidden]="!userNotiHidden" (click)="expand($event)"></ion-icon>
      <ion-icon name="remove-circle" [hidden]="userNotiHidden" (click)="collapse($event)"></ion-icon>
      </ion-col>
      <ion-col class="orderInfo title" width-90>
      원활한 주문을 위해 판매자에게 주문정보가 제공됩니다.
      </ion-col>
    </ion-row>
    <div [hidden]="userNotiHidden">
        <ion-row>
          <ion-col width-33 class="orderInfo">제공받는자</ion-col>
          <ion-col width-66 class="orderInfo1">{{shopname}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col width-33 class="orderInfo">목적</ion-col>
          <ion-col width-66 class="orderInfo1">판매자와 구매자의 거래의 원활한 진행, 본인 의사의 확인, 고객상담 및 불만처리 등</ion-col>
        </ion-row>
        <ion-row>
          <ion-col width-33 class="orderInfo">항목</ion-col>
          <ion-col width-66 class="orderInfo1">휴대폰번호</ion-col>
        </ion-row>
        <ion-row>
          <ion-col width-33 class="orderInfo">제공기간</ion-col>
          <ion-col width-66 class="orderInfo1">주문 시점에서 주문준비 완료 또는 취소 이후 24시간</ion-col>
        </ion-row>
    </div>
  </div>

</div>
</ion-content>
<ion-footer class="orderPage">
    <ion-segment>
    <ion-segment-button value="shopcart" (click)="shopcart()">장바구니 담기</ion-segment-button>
    <ion-segment-button value="order" (click)="order()">주문결제하기</ion-segment-button>
    </ion-segment>
</ion-footer>

