<ion-header>
  <ion-navbar hideBackButton>
  </ion-navbar>
</ion-header>

<!-- 
<ion-content (swipe)="swipeHome($event)"  class="home">
-->
  
<ion-content #homeContent class="home">
     <ion-card *ngFor="let shop of storageProvider.shoplist" >
       <button ion-button full class="cardImage" (click)="getSelected(shop.takitId)">
       <img [src]="shop.filename"/>
       </button>
       <ion-card-title class="takitId">
       {{shop.takitId}}<span *ngIf="shop.discountRate!=undefined">{{shop.discountRate}}</span>
 <!--        
       <ion-row>
       <ion-col width-80>
       {{shop.takitId}}
       </ion-col>
       <ion-col width-20>
       <ion-icon class="iconRemove" name="close-circle" (click)="removeSelected(shop.takitId)"></ion-icon>
       </ion-col>
       </ion-row>
-->
       </ion-card-title>
    </ion-card>
    
   <div class="frontDummy" *ngIf="storageProvider.shoplist.length==0" >
   </div>    
   <div padding *ngIf="storageProvider.shoplist.length==0" style="text-align:center;">
      하단 "상점인식"버튼을 통해<br> 
      상점 검색 페이지로 이동하여<br> 
      상점을 방문하시면 홈에 등록됩니다.   
   </div>
<div class="dummy">
  <br><br><br>
</div>    
</ion-content>

