page-error {
    .errorPage{
        background-image: url('../assets/error-background.png');
        background-repeat: no-repeat;
        background-size: cover;
    }

    .upper{
        height:55vh;
    }

    ion-row {
        color: white;
    }

    .button-md-white {
        color: #387ef5;
        background-color: #ffffff;
    }
/*
    .reason{
        font-size:larger !important;
    }
*/
}