<ion-navbar *navbar hideBackButton>
<ion-title>Takit Home</ion-title>
    <button ion-button menuToggle="leftMenu">
    <ion-icon name='menu'></ion-icon>
    </button>
</ion-navbar>

<ion-content class="errorPage">
<div class="upper">
</div>
<div *ngIf="!hasNoMyShop">
<ion-row>
  <ion-col width-33></ion-col>
  <ion-col width-33><span class="reason">데이터 요청 실패</span></ion-col>
  <ion-col width-33></ion-col>
</ion-row>
<ion-row>
  <ion-col width-25></ion-col>
  <ion-col width-50>잠시후 다시 시도해 주세요</ion-col>
  <ion-col width-25></ion-col>
</ion-row>
<ion-row  *ngIf="android_platform">
  <ion-col width-25></ion-col>
  <ion-col width-25>
    <button ion-button color="white" (click)="terminate($event)" full><ion-icon class="exitIcon" name="exit"></ion-icon>종료</button> 
  </ion-col>
  <ion-col width-25>
    <button ion-button color="white" (click)="tryLogin($event)" full>데이터요청</button> 
  </ion-col>
  <ion-col width-25></ion-col>
 </ion-row>   
 <ion-row  *ngIf="!android_platform">
  <ion-col width-33></ion-col>
  <ion-col width-33>
    <button ion-button color="white" (click)="tryLogin($event)" full>데이터요청</button> 
  </ion-col>
  <ion-col width-33></ion-col>
 </ion-row>
 </div>   
<div *ngIf="hasNoMyShop">
  <ion-row>
  <ion-col width-25></ion-col>
  <ion-col width-50>등록된 상점이 없습니다.</ion-col> 
  <ion-col width-25></ion-col>
  </ion-row>
  <ion-row>
  <ion-col width-25></ion-col>
  <ion-col width-50>고객센터:0505-170-3636</ion-col> 
  <ion-col width-25></ion-col>
  </ion-row>
  <ion-row>
  <ion-col width-25></ion-col>
  <ion-col width-50>help@takit.biz</ion-col> 
  <ion-col width-25></ion-col>
  </ion-row>
<ion-row  *ngIf="android_platform">
  <ion-col width-33></ion-col>
  <ion-col width-33>
    <button ion-button color="white" (click)="terminate($event)" full><ion-icon class="exitIcon" name="exit"></ion-icon>종료</button> 
  </ion-col>
  <ion-col width-33></ion-col>
 </ion-row>   
</div>
</ion-content>


