page-shophome{
    ion-header {
         position: relative !important; 
     }

    .segmentBar>.scroll-content{
        overflow-x:scroll !important;
        overflow-y:hidden !important;
        position:relative !important;
    }
    
    ion-content.segmentBar{
         height:auto !important;
         position:relative !important; 
         ion-col {
            padding: 0px !important; 
         }
    }

    .menus>.scroll-content{
        overflow-x:hidden !important;
        overflow-y:scroll !important;
        position:relative !important;
    }

    ion-content.menus{
         height:100% !important;
         position: relative !important;
         div{
            border-style:none !important;
            border-bottom:0px !important;
            border-color:white !important;

        }
        ion-item{
            border-style:none !important;
            border-bottom:0px !important;
            border-color:white !important;
        }
        ion-row{
            border-style:none !important;
            border-bottom:0px !important;
            border-color:white !important;
        }
        ion-col{
            border-style:none !important;
            border-bottom:0px !important;
            border-color:white !important;
        } 
    }
/*
    .menuImgButton.button-md{
            height:27vw !important;
            width :100% !important;
            border-radius : 50% !important;
    }
*/
    .menuImgButton{
            height:27vw !important;
            width :100% !important;
            border-radius : 50% !important;
    }

    .menuImg{
        border-radius : 50% !important;
        height : 100% !important;
        width : 100% !important;
    }

     .MenuText{
        text-align:center !important;
        font-size : 3.0vw !important; //2.4
    }

    .segment-md>.segment-button{
        font-size : 3.0vw !important;  //2.4
    }

    .segment-md>.segment-button {
        border-width: 2px !important;
        border-style: solid !important;
        border-color: #3474e1 !important;
        padding:0px !important;
    }

    .segment-md>.segment-activated {
        background-color: #387ef5 !important;
        color: white !important;
    }

/*
    ion-header.shophomeHeader{
        position: relative !important; 
    }

    ion-content.recommendation{
        position:relative !important;
        height:auto;
    }

    ion-content.recommendation > scroll-content{
        position:relative !important;
    }

    ion-content.segmentBar{
        position:relative !important;
        height:auto !important;
    }
    ion-content.segmentBar > scroll-content{
        overflow-x:scroll !important;
        overflow-y:hidden !important;
        position:relative !important;
    }

    ion-content.menus{
        position:relative !important;
        height:100% !important;
        div{
            border-style:none !important;
            border-bottom:0px !important;
            border-color:white !important;

        }
        ion-item{
            border-style:none !important;
            border-bottom:0px !important;
            border-color:white !important;
        }
        ion-row{
            border-style:none !important;
            border-bottom:0px !important;
            border-color:white !important;
        }
        ion-col{
            border-style:none !important;
            border-bottom:0px !important;
            border-color:white !important;
        }
    }

//    ion-content.menus > scroll-content{ //Why it doesn't work?
//        overflow-x:hidden;
//        overflow-y:scroll;
//        position:relative !important;
//    }

    .bottomMargin{
        height:15vh;
    }

    ion-page{
        background-color: white !important;
    }

    ion-col{
        padding:0px !important;
    }
    .otherButton{
        color:gray !important;
    }

    .foot-text{
        font-size:15px !important;
    }

    #backText{
        margin-left:22% !important;
    }

    #menuText{
        margin-left:38% !important;
    }

    #cartText{
        margin-left:27% !important;
    }

    #inforText{
        margin-left:30% !important;
    }

    .foot-button{
        float:left !important;
        margin-left : 30% !important;
    }

    #recommendText{
    text-align : center !important;
    vertical-align : middle !important;
    margin-top : 3% !important;
    font-size : 5vw !important;
    }

    .RecoImg{
        border-radius : 50% !important;
        height : 100% !important;
        width : 100% !important;
    }

    .RecoMenu{
        text-align : center !important;
        margin:0px !important;
    }

    .RightReco{
        margin-top : 5% !important;
        margin-left : 10% !important;
    }

    .LeftReco{
        margin-top : 5% !important;
        margin-left : 15% !important;
    }
    
    #scroll{
        background-color : #FFB458 !important;
        text-align:center !important;
    }

    .slideText{
        text-align:center !important;
    }

    .segmentBar{
        height:100% !important;
    }

    .menuImgButton{
        height:100% !important;
        width :100% !important;
        border-radius : 50% !important;
    }

    .menuImg{
        border-radius : 50% !important;
        height : 100% !important;
        width : 100% !important;
    }

    .MenuText{
        text-align:center !important;
        font-size : 13% !important;
    }

    .md{
        .otherButton{
            color:gray;
        }

        .segment-button{
            overflow:inherit;
        }

        .RecoMenu{
            text-align : center;
            font-size : 3vw; 
        }

        .MenuText{
            margin:0px !important;
            text-align : center;
            font-size : 3vw !important;  
        }

        #cartText{
            margin-left:27%;
        }

        #inforText{
            margin-left:30%;
        }

        #recommendText{
        text-align : center;
        vertical-align : middle;
        margin-top : 3%;
        font-size : 5vw;
        }

        .RecoImg{
            width : 75%;
            height : 75%;
            border-radius:50%;
        }

        .RightReco{
            margin-top : 5%;
            margin-left : 10%;
        }

        .LeftReco{
            margin-top : 5%;
            margin-left : 15%;
        }
        
        #scroll{
            background-color : #FFB458;
            text-align:center;
        }

        .slideText{
            text-align:center;
        //    font-color:white;
        }

        .menuImgButton{
            height:27vw !important;
        //    width :100%;
            border-radius : 50%;
            
        }

        .menuImg{
            border-radius : 50%;
        //    height : 100%;
        //    width : 100%;
        }

        .segmentBar{
            .segment-button{
                font-size : 3vw !important; 
            }
        }
        ////////////////////////////////////
        .shophome_android >.segment-button{
            font-size : 2vw !important; 
        }

        .segment-button {
            border-width: 2px;
            border-style: solid;
            border-color: #3474e1;
        }

        .segment-activated {
            background-color: #387ef5;
            color: white;
        }

        //////////////////////////////
        .shophome_android{

            div{
                border-style:none;
                border-bottom:0px !important;
                border-color:white !important;

            }
            ion-item{
                border-style:none;
                border-bottom:0px !important;
                border-color:white !important;
            }
            ion-row{
                border-style:none;
                border-bottom:0px !important;
                border-color:white !important;
            }
            ion-col{
                border-style:none;
                border-bottom:0px !important;
                border-color:white !important;
            }
        }
        ////////////////////////////////////
        button.categoryPrev{
            background-color:white;
            box-shadow:inherit;
            color:#387ef5 !important;
            width:20vw;
        }

        button.categoryPrev.activated{
            background-color:white;
            box-shadow:inherit;
            color:#387ef5;
        }

        button.categoryNext{
            background-color:white;
            box-shadow:inherit;
            color:#387ef5 !important;
            width:20vw;
        }

        button.categoryNext.activated{
            background-color:white;
            box-shadow:inherit;
            color:#387ef5;
        }

        .button-inner>ion-icon {
            color:#387ef5;
        }

    } */
}