<ion-header class="shopMyPage">
  <ion-navbar>
    <ion-title>
      {{shopname}}
    </ion-title>
  </ion-navbar>
</ion-header>

<!--
<ion-content padding class="infiniteScroll" [hidden]="myPageMenu==='couponHistory'">
  <ion-list>
        <ion-item *ngFor="let order of orders">
                      <ion-row (click)="toggleOrder(order)">
                          <ion-col width-20 class="detail">{{order.orderedDateString}}</ion-col>
                          <ion-col width-60 class="status">{{order.orderName}}</ion-col>
                          <ion-col width-20 class="status" [hidden]="order.orderStatus!='paid'"><button ion-button class="cancelButton" (click)="cancelOrder(order)"><span class="cancelButtonText" style="color:white">취소</span></button></ion-col>
                          <ion-col width-20 class="status" [hidden]="order.orderStatus=='paid'">{{order.statusString}}</ion-col>
                      </ion-row>
                      <ion-row  [hidden]="order.hidden">
                          <ion-col width-10></ion-col>
                          <ion-col width-40><span class="detail">주문번호</span> <span class="status">{{order.orderNO}}</span></ion-col>
                          <ion-col width-50><span class="detail">결제금액</span><span class="status">&nbsp;{{order.amount}}원</span></ion-col>
                      </ion-row>
                      <ion-row  [hidden]="order.hidden">
                          <ion-col width-10></ion-col>
                          <ion-col width-90><span class="detail">주문시간 {{order.orderedTimeString}}</span> </ion-col>
                      </ion-row>
                      <div *ngFor="let menu of order.orderListObj.menus" [hidden]="order.hidden">
                      <ion-row>
                                <ion-col width-10></ion-col>
                                <ion-col width-70><span class="status">{{menu.menuName}}({{menu.quantity}})</span></ion-col>
                                <ion-col width-20><span class="status">{{menu.price}}원</span></ion-col>
                      </ion-row>          
                      <ion-row *ngFor="let option of menu.options" class="detail">
                          <ion-col width-20></ion-col>
                          <ion-col width-80><span class="status">{{option.name}}:{{option.price}}</span>
                                  <span class="status" *ngIf="option.select!=undefined">{{option.select}}</span> 
                          </ion-col>        
                      </ion-row>      
                      </div>
        </ion-item>
  </ion-list>
</ion-content>
-->

<ion-content padding class="infiniteScroll" [hidden]="myPageMenu==='couponHistory'">
  <div class="dummy">
  </div>
  <!--
 <ion-row>
    <ion-col width-75>
    </ion-col>
    <ion-col width-25>
      <button ion-button  class="updateButton" color='gray' (click)="update()"><span class="updateButtonText">업데이트</span></button>
    </ion-col>    
  </ion-row> 
  --> 
  <div padding>
  주문내역 
  </div>  
  <ion-list>
        <ion-item *ngFor="let order of orders">
                      <ion-row (click)="toggleOrder(order)">
                          <ion-col width-20 class="detail">{{order.orderedDateString}}</ion-col>
                          <ion-col width-60 class="status">{{order.orderName}}</ion-col>
                          <ion-col width-20 class="status" [hidden]="order.orderStatus!='paid'"><button ion-button class="cancelButton" (click)="cancelOrder(order)"><span class="cancelButtonText" style="color:white">취소</span></button></ion-col>
                          <ion-col width-20 class="status" [hidden]="order.orderStatus=='paid'">{{order.statusString}}</ion-col>
                      </ion-row>
                      <ion-row  [hidden]="order.hidden">
                          <ion-col width-10></ion-col>
                          <ion-col width-40><span class="detail">주문번호</span> <span class="status">{{order.orderNO}}</span></ion-col>
                          <ion-col width-50><span class="detail">결제금액</span><span class="status">&nbsp;{{order.amount}}원</span></ion-col>
                      </ion-row>
                      <ion-row  [hidden]="order.hidden">
                          <ion-col width-10></ion-col>
                          <ion-col width-90 *ngIf="order.takeout=='0'"><span class="detail">주문시간 {{order.orderedTimeString}}</span> </ion-col>
                          <ion-col width-45 *ngIf="order.takeout!='0'"><span class="detail">주문시간 {{order.orderedTimeString}}</span> </ion-col>
                          <ion-col width-45 *ngIf="order.takeout!='0'"><span class="detail">테이크아웃</span></ion-col>
                      </ion-row>
                      <div *ngFor="let menu of order.orderListObj.menus" [hidden]="order.hidden">
                      <ion-row>
                                <ion-col width-10></ion-col>
                                <ion-col width-70><span class="status">{{menu.menuName}}({{menu.quantity}})</span></ion-col>
                                <ion-col width-20><span class="status">{{menu.price}}원</span></ion-col>
                      </ion-row>          
                      <ion-row *ngFor="let option of menu.options" class="detail">
                          <ion-col width-20></ion-col>
                          <ion-col width-80><span class="status">{{option.name}}:{{option.price}}</span>
                                  <span class="status" *ngIf="option.select!=undefined">{{option.select}}</span> 
                          </ion-col>        
                      </ion-row>      
                      </div>             
        </ion-item>
  </ion-list>

 <ion-infinite-scroll (ionInfinite)="doInfinite($event)" [hidden]="orders.length==0">
   <ion-infinite-scroll-content></ion-infinite-scroll-content>
 </ion-infinite-scroll>
<div class="dummyEnd">
</div>
</ion-content>




