page-shopmypage{
    ion-header {
         position: relative !important; 
     }

    ion-content.infiniteScroll{
       // position: relative !important; 
        ion-label {
            margin: 0px 0px 0px 0px !important;
        }
        .status{
            text-align:right !important;
            color: #000000 !important;
            font-size: 1.2rem !important;
        }

        >.scroll-content {
            margin-top: 0px !important; 
            margin-bottom: 0px !important; 
        }
        item-inner{
            border-bottom: 0px !important;
        }
        .detail{
            text-align: left !important;
            color: #7f7f7f !important;
            font-size: 1.2rem !important;
        }
    }

    .updateButton{
        height:1.7rem !important;
    }

    .updateButtonText{
        font-size: 1.2rem;
    }

    .cancelButton{
        height:1.5rem !important;
    }

    .cancelButtonText{
        font-size: 1.2rem;
    }

    div.dummy{
        height:5.0rem;
    }

    div.dummyEnd{
        height:20vh;
    }
}