page-login{
    .companyName{
        text-align: center ;
        font-size:20vw ;
        color:#387ef5 ;
    }
    .companyslogan{
        text-align: center ;
        font-size:5vw ;
         color:black ;
    }
}