<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>타킷</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="segmentButton">
    <ion-row>
    <ion-col width-75>
    </ion-col>
    <ion-col width-25>
      <button ion-button  class="updateButton" color='gray' (click)="update()"><span class="updateButtonText">업데이트</span></button>
    </ion-col>    
  </ion-row>

    <div>
    <ion-segment [(ngModel)]="Option" (ionChange)="changeValue(Option)">
      <ion-segment-button  value="today">
      오늘
      </ion-segment-button>
      <ion-segment-button  value="week">
      일주일
      </ion-segment-button>
      <ion-segment-button  value="month">
      한달
      </ion-segment-button>
      <ion-segment-button  value="period">
       기간설정
      </ion-segment-button>
    </ion-segment>
    </div>
<div [hidden]="Option!='period'"> 
  <ion-row >
  <ion-item ion-col width-50>
  <ion-label>시작일</ion-label>
  <ion-datetime displayFormat="YYYY M DD" min="2016" (ionChange)="startPicker(startDate)" [(ngModel)]="startDate"></ion-datetime>
  </ion-item>
  <ion-item ion-col width-50> 
  <ion-label>종료일</ion-label>
  <ion-datetime displayFormat="YYYY M DD" min="2016" (ionChange)="endPicker(endDate)" [(ngModel)]="endDate"></ion-datetime>
  </ion-item>
  </ion-row>
    <button ion-button full (click)="searchPeriod()">검색</button>
 </div> 
</ion-content>

<ion-content padding class="infiniteScroll">
  <ion-list>
  <ion-item class="orderManagement" *ngFor="let order of orders">
                <ion-row (click)="toggleOrder(order)">
                    <ion-col width-10 class="verticalAlign">[{{order.orderNO}}]</ion-col>
                    <ion-col width-50 class="orderName"><span class="orderName">{{order.orderName}}</span></ion-col>
                    <ion-col width-20 class="verticalAlign" >
                      <button ion-button class="statusButton" *ngIf="order.statusString!='종료' && order.statusString!='취소'" (click)="updateOrder(order)" ><span class="statusButtonText">{{order.statusString}}</span></button>
                      <p  *ngIf="order.statusString=='종료' || order.statusString=='취소'"> {{order.statusString}}<p>
                    </ion-col>
                    <ion-col width-20><button ion-button class="statusButton" [color]="getOrderColor(order)" (click)="cancel(order)" [hidden]="order.orderStatus=='cancelled' || AfterOnedayComplete(order)"><span class="statusButtonText">취소</span></button></ion-col>
                </ion-row>
                <div [hidden]="order.hidden">
                <div *ngFor="let menu of order.orderListObj.menus">
                <ion-row>
                          <ion-col width-10></ion-col>
                          <ion-col width-90><span class="orderInfo">{{menu.menuName}}({{menu.quantity}})</span></ion-col>
                </ion-row>
                <ion-row>
                          <ion-col width-30></ion-col>
                          <ion-col width-70> 
                            <p class="option" *ngFor="let option of menu.options">{{option.name}} &nbsp;<span *ngIf="option.select!=undefined">{{option.select}}</span> </p>
                          </ion-col>
                </ion-row>
                </div>
                <ion-row [hidden]="order.takeout=='0'"> 
                  <ion-col width-10></ion-col>
                  <ion-col width-90>Takeout</ion-col>
                </ion-row>
                 <ion-row >
                    <ion-col width-10></ion-col>
                    <ion-col width-90 class="detail">주문시간 &nbsp;{{order.localOrderedTime}}</ion-col>
                </ion-row>
                 <ion-row>
                    <ion-col width-10></ion-col>
                    <ion-col width-90 class="detail">결제금액 &nbsp;{{order.amount}}원</ion-col>
                </ion-row>
                </div>
</ion-item>
</ion-list>
 <ion-infinite-scroll (ionInfinite)="doInfinite($event)" [hidden]="orders.length==0">
   <ion-infinite-scroll-content></ion-infinite-scroll-content>
 </ion-infinite-scroll>
 <div class="dummy">
 </div>
</ion-content>