page-error {
    icon{
        width:100%;
        height:100%; 
        align-content: center;
    }
    scroll-content {
        display: flex;
        flex-direction: column;
    }
 
    ion-grid {
        padding: 0;
        height: 100%;
    }
 
    ion-row {
        flex: 1;
    }

    .exitIcon{
        color:white !important;
    }
}